<!DOCTYPE html>
<html>
  <head>
  <title>Sell-Fast</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fullwidth">
      <div class="navbar.navbar-expand-lg.bg-primary.text-light">
        <h1 class='w-100'>Sell-Fast</h1>
        <h3 title="Login or Signup">Login</h3>
      </div>
    </div>
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
